{# macro to create next/previous page links 
#}
{% macro page_nav(prevTitle, prevLink, nextTitle, nextLink) %}
<nav role="navigation" aria-label="Guide pagination">
  <ul class="article-pagination">

    {% if nextTitle %}
    <li class="article-pagination__item article-pagination__item--right">
      <a title="{{ nextTitle }}" href="{{ nextLink | safe }}" rel="next">
        <span class="article-pagination__prefix">Next page:</span>
        <span class="article-pagination__title">{{ nextTitle }}</span>
      </a>
    </li>
    {% endif %}

    {% if prevTitle %}
      <li class="article-pagination__item article-pagination__item--left">
        <a title="{{ prevTitle }}" href="{{ prevLink | safe }}" rel="prev">
          <span class="article-pagination__prefix">Previous page:</span>
          <span class="article-pagination__title">{{ prevTitle }}</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
{% endmacro %}

{# macro to create radio buttons 

  Example

  {{ patterns.nhsRadios('yes-or-no',
                        'yes-or-no',
                        'Please select an option',
                         'This is a hint',
                        'yes',
                        '',
                        [ {id: 'yes', value: 'yes', label: 'Yes'},
                          {id: 'no', value: 'no', label: 'No'} ]
                        ) }}
   
#}
{% macro nhsRadios(name, id, legend, hint, value, error, radioButtons, classes) %}
  {% if not id %}
      {% set id="input-" + name %}
  {% endif %}

  <div class="form-group {% if error %} error {% endif %}" id="{{id}}-form">
      <fieldset>
        <legend>
          <span class="form-label{% if classes.legend %} {{ classes.legend }}{% endif %}">{{legend}}</span>
          {% if error %}<span class="error-message">{{error}}</span> {% endif %}
          {% if hint %}<span class="form-label__hint">{{hint}}</span>{% endif %}
        </legend>
          
          {% for radio in radioButtons %}
              <label class="form-label form-label--radio multiple-choice--radio" for="{{id}}-{{radio.id}}"
              {% if radio.dataTarget %} data-target="{{radio.dataTarget}}"{% endif %}>
                  <input id="{{id}}-{{radio.id}}" type="radio" name="{{name}}" value="{{radio.value}}" {% if value == radio.value %} checked{% endif %}
                  {% if radio.dataJourneyClick %} data-journey-click="{{radio.dataJourneyClick}}"{% endif %}>
                  {{radio.label}}
              </label>
          {% endfor %}
      </fieldset>
  </div>
{% endmacro %}