{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-section">
    <div class="local-header">
      <h1 class="local-header__title">Prototype F</h1>
      <div class="local-header__intro">
        <div class="reading-width">
          <p>October 2017</p>
        </div>
      </div>
    </div>

    <p>This Prototype was created in response to the user research labs that ran in September 2017.</p>
    <button class="button">Start Prototype</button>
    
    <h2>Research</h2>
    <p>The result of the research conducted in September was that:</p>
    <ul>
      <li>Users were able to follow the opt-out form</li>
      <li>Users were able to understand 2-factor verification</li>
      <li>Users were able to complete opt-out the process</li>
      <li>Users felt overwhelmed with the volume of information on the landing page</li>
      <li>Users felt overwhelmed with the volume of information on the information pages</li>
      <li>Users found the navigation between pages difficult</li>
      <li>Users felt the information was too forceful</li>
    </ul>

    <h2 id="design-hypotheses">Design Hypotheses</h2>
    <ol>
      <li><strong>If</strong> we add a page list to our local header, <strong>then</strong> we will improve navigation <strong>because</strong> users will easily be able to find further information about how the NHS handles their data.</li>
      <li><strong>If</strong> we add a navigation element to the bottom of our information pages, <strong>then</strong> we will improve navigation <strong>because</strong> users can quickly jump to the next peice of information.</li>
      <li><strong>If</strong> we add a back link to the top of our information pages, <strong>then</strong> we will improve navigation <strong>because</strong> users can quickly jump back.</li>
    </ol>

    {{ patterns.page_nav( "Prototype E - Lab 5", "http://ndop.herokuapp.com/app/prototypes/lab-5-changes/index.html", "", "" ) }}


    </div>
</main>
{% endblock %}