{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-section">

  <nav aria-label="Breadcrumb">
    <ol class="list--breadcrumb">
      <li><a href="/">Index</a></li>
      <li>Prototype BIT</li>
    </ol>
  </nav>

    <div class="local-header">
      <h1 class="local-header__title">Prototype BIT</h1>
      <div class="local-header__intro">
        <div class="reading-width">
          <p>November 2017</p>
        </div>
      </div>
    </div>

    <p>This Prototype was created in response to content changes in October.</p>
    <p>The prototype streamlines the content journey</p>
    <a role="button" class="button" href="/bit/01-overview">Start Prototype</a>
    <hr>
    <h2 id="prototype-sections">Prototype sections</h2>
    <div class="grid-row">
      <div class="column--one-half">
        <h3>Pages</h3>
        <ol>
          <li><a href="/bit/01-overview">Overview</a></li>
          <li><a href="/bit/02-understanding-health-data">Understanding health data</a></li>
          <li><a href="/bit/03-benefits-of-data-sharing">Benefits of data sharing</a></li>
          <li><a href="/bit/04-your-data-our-pledge">Your data - our pledge</a></li>
          <li><a href="/bit/05-keeping-data-secure">Keeping data secure</a></li>
          <li><a href="/bit/06-your-choice-to-opt-out">Your choice to opt-out</a></li>
          <li><a href="/bit/07-registering-your-preferences">Registering your preferencess</a></li>
        </ol>
      </div>
      <div class="column--one-half">

      </div>

    </div>

    <h2 id="research">Research</h2>
    <div class="grid-row">
      <div class="column--one-third">
        <img src="/images/research/IMG_20171009_093310.jpg" alt="" height="auto" width="100%">
      </div>
      <div class="column--one-third">
        <img src="/images/research/IMG_20171009_093322.jpg" alt="" height="auto" width="100%">
      </div>
      <div class="column--one-third">
        <img src="/images/research/IMG_20171009_093328.jpg" alt="" height="auto" width="100%">
      </div>
    </div>
    <div class="grid-row">
      <div class="column--one-third">
        <img src="/images/research/IMG_20171009_093335.jpg" alt="" height="auto" width="100%">
      </div>
      <div class="column--one-third">
        <img src="/images/research/IMG_20171009_093344.jpg" alt="" height="auto" width="100%">
      </div>
      <div class="column--one-third">
        <img src="/images/research/IMG_20171009_093351.jpg" alt="" height="auto" width="100%">
      </div>
    </div>
    <p>The result of the research conducted in September was that:</p>
    <ul class="list--check">
      <li>Users were able to follow the opt-out form</li>
      <li>Users were able to understand 2-factor verification</li>
      <li>Users were able to complete opt-out the process</li>
    </ul>
    <ul class="list--cross">
      <li>Users felt overwhelmed with the volume of information on the landing page</li>
      <li>Users felt overwhelmed with the volume of information on the information pages</li>
      <li>Users found the navigation between pages difficult</li>
      <li>Users didn't know how to use the back button or used a device on which that was difficult</li>
      <li>Users felt the information was too forceful</li>
    </ul>

    <h2 id="design-hypotheses">Design hypotheses</h2>
    <h3>November</h3>
    <ol>
      <li><strong>If</strong> we simplyify the content on the pages, <strong>then</strong> we will improve comprehension and usability <strong>because</strong> users will easily be able to scan and locate relevant information on the page quicker</li>
    </ol>
    {{ patterns.page_nav( "Prototype F - October", "/F/", "", "" ) }}

    </div>
</main>
{% endblock %}
