.form-label {
  @include bold-font(20);
  display: block;
  position: relative;
  width: auto;
  cursor: pointer;
  margin-top: 0;

  @include media(mid) {
    float: left;
    clear: both;
  }

}

.form-label--checkbox,
.form-label--radio {
  padding: 7px 0 7px 50px;
}

.form-label--radio {
  font-weight: normal;
}

.form-label--large {
  @include bold-font(36);
}

.form-label__hint {
  color: $grey-1;
  display: block;
  font-weight: normal;
  margin-top: $baseline-grid-unit;

  @include media(desktop) {
    margin-top: $baseline-grid-unit * 2;
  }
}

.gender-select label {
  font-weight: normal;
}
