{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-section">

    <nav aria-label="Breadcrumb">
      <ol class="list--breadcrumb">
        <li><a href="#">NHS.UK</a></li>
        <li><a href="/F/01-overview">Your patient health information</a></li>
        <li>Contact us</li>
      </ol>
    </nav>

    <div class="local-header">
      <h1 class="local-header__title">Contact us</h1>
    </div>
  </div>

  <div class="page-section">
      <div class="reading-width">
          <div class="grid-row">
            <div class="column--three-quarters">
              <p>If you have not received a verification code by email or mobile, contact the NHS Digital Contact Centre on 0300 303 5678. from 9-5</p>
              <p>
                You can discuss your data sharing preferences on the call.
              </p>
            </div>
          </div>
      </div>
  </div>

</main>
{% endblock %}
