{% set title = 'Prototype F Toggle' %}
{% set PROTOTYPE_URL = 'F-toggle'%}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-section">

  <nav aria-label="Breadcrumb">
    <ol class="list--breadcrumb">
      <li><a href="/">Index</a></li>
      <li>{{title}}</li>
    </ol>
  </nav>

    <div class="local-header">
      <h1 class="local-header__title">{{title}}</h1>
      <div class="local-header__intro">
        <div class="reading-width">
          <p>November 2017</p>
        </div>
      </div>
    </div>

    <p>This Prototype is explores whether a toggle would be conceptually easier for users to use and understand</p>
    <p>
      It builds on top of Prototype F's concept but changes from a radio button.
    </p>
    <a role="button" class="button" href="/{{PROTOTYPE_URL}}/make-your-choice">Start Prototype</a>
    <hr>
    <h2 id="prototype-sections">Prototype sections</h2>
    <div class="grid-row">
      <div class="column--one-half">
        <h3>Pages</h3>
        <p>
          The hypothesis behind this prototype doesn't rely on pages.
        </p>
      </div>
      <div class="column--one-half">
        <h3>App and related pages</h3>
        <ol>
          <li>
            <a href="{{PROTOTYPE_URL}}/make-your-choice">Set your preferences (toggle)</a>
          </li>
        </ol>
      </div>

    </div>



    <h2 id="research">Research</h2>
    <div class="grid-row">
      <div class="column--one-third">
        <img src="/images/research/IMG_20171009_093310.jpg" alt="" height="auto" width="100%">
      </div>
      <div class="column--one-third">
        <img src="/images/research/IMG_20171009_093322.jpg" alt="" height="auto" width="100%">
      </div>
      <div class="column--one-third">
        <img src="/images/research/IMG_20171009_093328.jpg" alt="" height="auto" width="100%">
      </div>
    </div>
    <div class="grid-row">
      <div class="column--one-third">
        <img src="/images/research/IMG_20171009_093335.jpg" alt="" height="auto" width="100%">
      </div>
      <div class="column--one-third">
        <img src="/images/research/IMG_20171009_093344.jpg" alt="" height="auto" width="100%">
      </div>
      <div class="column--one-third">
        <img src="/images/research/IMG_20171009_093351.jpg" alt="" height="auto" width="100%">
      </div>
    </div>
    <p>The result of the research conducted in September was that:</p>
    <ul class="list--check">
      <li>Users were able to follow the opt-out form</li>
      <li>Users were able to understand 2-factor verification</li>
      <li>Users were able to complete opt-out the process</li>
    </ul>
    <ul class="list--cross">
      <li>Users felt overwhelmed with the volume of information on the landing page</li>
      <li>Users felt overwhelmed with the volume of information on the information pages</li>
      <li>Users found the navigation between pages difficult</li>
      <li>Users didn't know how to use the back button or used a device on which that was difficult</li>
      <li>Users felt the information was too forceful</li>
    </ul>

    <h2 id="design-hypotheses">Design hypotheses</h2>
    <h3>November</h3>
    <ol>
      <li><strong>If</strong> we provide an on/off like switch to users, <strong>then</strong> we will improve user comprehension and understanding of the opt-in/out concept <strong>because</strong> users will see a digital form of a physical switch that follows conceptually turning something off and on</li>
    </ol>

    {{ patterns.page_nav( "Prototype F", "/F/", "", "" ) }}

    </div>
</main>
{% endblock %}
