{% set title = 'Lab 6 -- Register your preferences for sharing patient health data' %}
{% set PROTOTYPE_URL = 'lab-6'%}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-section">

  <nav aria-label="Breadcrumb">
    <ol class="list--breadcrumb">
      <li><a href="/">Index</a></li>
      <li>Register your preferences for sharing patient health data</li>
    </ol>
  </nav>

    <div class="local-header">
      <h1 class="local-header__title">Register your preferences for sharing patient health data</h1>
      <div class="local-header__intro">
        <div class="reading-width">
          <p>November 2017</p>
        </div>
      </div>
    </div>

    <div class="grid-row">
        <div class="column--one-half">
          <div class="reading-width">
            <div class="callout callout--attention">
              <h2 class="h3">
                <a href="/F/01-overview" target="_blank">NHSUK Landing page</a>
              </h2>
              <p>
                NHSUK landing page for Register your preferences for sharing patient health data
              </p>
              <a href="/F/01-overview" target="_blank" class="button" role="button">NHSUK Landing page</a>
            </div>
            <br />
          </div>
        </div>

        <div class="column--one-half">
          <div class="reading-width">
            <div class="callout callout--attention">
              <h2 class="h3">
                <a href="/F/app/index" target="_blank">Register your preferences</a>
              </h2>
              <p>
                Starting page for Register your preferences for sharing patient health data
              </p>
              <a href="/F/app/index" target="_blank" class="button" role="button">Register your preferences</a>
            </div>
            <br />
          </div>
        </div>
      </div>
      <div class="grid-row">

        <div class="column--one-half">
          <div class="reading-width">
            <div class="callout callout--attention">
              <h2 class="h3">
                <a href="https://set-national-opt-out.service.nhs.uk/" target="_blank">Production</a>
              </h2>
              <p>
                Live production Register your preferences for sharing patient health data (Password protected)
              </p>
              <a href="https://set-national-opt-out.service.nhs.uk/" class="button" role="button" target="_blank">Production</a>
            </div>
            <br />
          </div>
        </div>

        <div class="column--one-half">
          <div class="reading-width">
            <div class="callout callout--attention">
              <h2 class="h3">
                <a href="/F-toggle/make-your-choice" target="_blank">Toggle</a>
              </h2>
              <p>
                Example "Set your preferences" page with Toggle
              </p>
              <a href="/F-toggle/make-your-choice" target="_blank" class="button" role="button">Toggle</a>
            </div>
            <br />
          </div>
        </div>
      </div>

  </div>
</main>
{% endblock %}
